.msg_type {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.msg_type_card {
    height: 23vh;
    border-radius: 23px;
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
    .msg_type_card {
        height: 28vh;
    }
}
@media only screen and (min-width: 390px) and (max-width: 844px) {
    .msg_type_card {
        height: 21vh;
    }
}
@media only screen and (min-width: 393px) and (max-width: 881px) {
    .msg_type_card {
        height: 21vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .msg_type_card {
        height: 18vh;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .msg_type_card {
        height: 24vh;
    }
}
@media only screen and (min-width: 1367px) and (max-width: 1920px) {
    .msg_type_card {
        height: 19vh;
    }
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

span {
    font-size: 11px;
}

.from_msg {
    width: fit-content;
    border-radius: 16px;
    box-shadow: 0 0 10px #00000021;
}

.to_msg {
    width: fit-content;
    border-radius: 16px;
    box-shadow: 0 0 10px #00000021;
    background: #1a237e;
    color: white;
}

.msg_feeds {
    position: relative;
    margin-bottom: 100pt !important;
}