<div class="mat-app-background">

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="profile_content">

        <div fxLayoutAlign="center center" fxLayoutGap="5px grid">
            <mat-icon color="night">{{lightDarkToggleIcon}}</mat-icon>
            <mat-slide-toggle #lightDarkToggle (click)="doToggleLightDark(lightDarkToggle)"
                [formControl]="toggleControl">
            </mat-slide-toggle>
            <!-- <mat-icon>brightness_5</mat-icon>
                <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
                </mat-slide-toggle>
                <mat-icon>bedtime</mat-icon> -->
        </div>

        <mat-icon color="primary">notifications</mat-icon>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png"
            class="profile_bg">

    </div>

    <div class="contents">
        <router-outlet></router-outlet>
    </div>

    <mat-toolbar color="primary" class="bottom_nav">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex>

            <div>
                <button mat-mini-fab color="basic">
                    <mat-icon color="accent">power_settings_new</mat-icon>
                </button>
            </div>

            <div fxHide.xs>
                <button mat-button routerLink="/user/dashboard">
                    <mat-icon color="accent">dashboard</mat-icon>
                    <span fxHide.xs>Dashboard</span>
                </button>

                <button mat-button routerLink="/user/main">
                    <mat-icon color="accent">settings</mat-icon>
                    <span fxHide.xs>Main</span>
                </button>

                <button mat-button routerLink="/user/privacypolicy">
                    <mat-icon color="accent">verified_user</mat-icon>
                    <span fxHide.xs>Privacy</span>
                </button>

            </div>

            <div style="margin-top: -32px;">
                <button mat-fab>
                    <mat-icon>account_balance</mat-icon>
                </button>
            </div>

            <div fxHide.xs>

                <button mat-button routerLink="/user/aside">
                    <mat-icon color="accent">mail</mat-icon>
                    <span fxHide.xs>Mail</span>
                </button>

                <button mat-button routerLink="/user/privacypolicy">
                    <mat-icon color="accent">work</mat-icon>
                    <span fxHide.xs>Business</span>
                </button>

                <button mat-button routerLink="/user/privacypolicy">
                    <mat-icon color="accent">people</mat-icon>
                    <span fxHide.xs>Accounts</span>
                </button>

            </div>

            <div>
                <button mat-mini-fab color="basic">
                    <mat-icon color="accent">settings</mat-icon>
                </button>
            </div>

        </div>

    </mat-toolbar>
</div>