.bottom_nav {
  position: fixed;
  bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 10px black;
}

.menu {
  position: absolute;
  right: 0;
  justify-content: space-between;
}

.bottom_nav .contents {
  margin-top: 64px;
  /* height of header */
  padding: 0px;
}

.contents {
  /* height: 100%; */
  margin-bottom: 64px;
  margin-top: 50px;
  /* height of header */
  padding: 16px;
}

/* .mat-icon.mat-accent {
  background: -webkit-linear-gradient(#ffffff, #ffd400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.profile_content {
  position: absolute;
  right: 0;
}

.profile_bg {
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid white;
  width: 50px;
}